/* RESET PARA CONTROL TOTAL */
* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    background-color: #2f3542; /* Un fondo oscuro para que resalte la hoja */
    display: flex;
    justify-content: center;
    padding: 20px;
}

.hoja-cv {
    background-color: white;
    width: 800px;                  /*mas o menos tamaño carta*/
    min-height: 1000px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5); /* sombra para profundidad */
    border-radius: 4px;
}

.cabecera {
    display: flex;
    gap: 20px; /* para hacer el espacio entre foto y datos */
    margin-bottom: 30px;
    border-bottom: 2px solid #00d1b2;
    padding-bottom: 20px;
}

/* CAJA PARA LA FOTO */
.caja-foto {
    width: 150px;
    height: 150px;
    border: 3px solid #2f3542;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f2f6;
}

.foto-perfil {
    width: 100%;      
    height: 100%;      
    object-fit: cover; /* ajusta la foto*/
    display: block;
}

.caja-datos {
    flex: 1; /* para ocupar todo el espacio sobrante */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.seccion-cv {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #dfe4ea;
    border-radius: 5px;
}

h2 { color: #2f3542; margin-bottom: 10px; border-left: 5px solid #00d1b2; padding-left: 10px; }