
* { box-sizing: border-box; margin: 0; padding: 0; } /* reseteo css para que en todos los dispositivos comience desde cero y asi verse igual en todos los lados*/

body {
    background-color: #2f3542;
    display: flex;
    justify-content: center;
    padding: 40px;
    font-family: Arial, sans-serif;
}

.hoja-cv {
    background-color: rgb(170, 145, 145);
    width: 800px;
    min-height: 1000px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
}

.cabecera {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid #333;
}

.caja-foto {
    width: 150px;
    height: 150px;
    border: 2px solid #333;
    border-radius: 50%; /* esto hace la foto circular */
    overflow: hidden;   /* corta la imagen sobrante */
}

.foto-perfil {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* diseño de dos columnas */
.cuerpo-cv {
    display: flex;
    flex: 1; /* ocupa el espacio disponible */
}

.columna-izquierda {
    width: 35%;
    border-right: 2px solid #333;
    padding: 20px 15px 20px 0;
}

.columna-derecha {
    width: 65%;
    padding: 20px 0 20px 20px;
}


h2 { /* estilos de secciones */
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-top: 15px;
}

ul {
    list-style-position: inside;
    margin-bottom: 10px;
}

.pie-pagina {
    margin-top: auto; 
    border-top: 2px solid #333;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    font-size: 0.9rem;
}

/* tamaño de los iconos de contacto*/
.icono-svg { 
    width: 20px;
    height: 20px;
    display: inline-block; /*para que no se junten*/
    vertical-align: middle;
}